--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: get
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/32/information
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
      Last-Modified: 
      - Mon, 11 Jan 2016 23:50:59 GMT
    body: 
      string: "{\"gatewayVersion\":\"5.24.5-1R\",\"status\":\"OPERATING\"}"
  recorded_at: Mon, 11 Jan 2016 23:51:10 GMT
