--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/order/10000001710/transaction/PAY
    body: 
      string: "{\"apiOperation\":\"PAY\",\"order\":{\"amount\":\"100.00\",\"currency\":\"EUR\",\"reference\":\"PAY\"},\"transaction\":{\"reference\":\"PAY\"},\"sourceOfFunds\":{\"type\":\"CARD\"},\"session\":{\"id\":\"LOLSESSIONTOKEN\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Cnection: 
      - close
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"error\":{\"cause\":\"INVALID_REQUEST\",\"explanation\":\"Form Session not found or expired.\"},\"result\":\"ERROR\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:30 GMT
