--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/session
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_MERCHANT_ID>\",\"result\":\"SUCCESS\",\"session\":{\"id\":\"SESSION0002463798496I66273983N4\",\"updateStatus\":\"NO_UPDATE\",\"version\":\"a77f58c201\"}}"
  recorded_at: Tue, 26 Jan 2016 06:50:31 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/session/SESSION0002463798496I66273983N4
    body: 
      string: "{\"sourceOfFunds\":{\"type\":\"CARD\",\"provided\":{\"card\":{\"number\":\"4005550000000001\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"securityCode\":\"123\"}}}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_MERCHANT_ID>\",\"session\":{\"id\":\"SESSION0002463798496I66273983N4\",\"updateStatus\":\"SUCCESS\",\"version\":\"3861693a02\"},\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"fundingMethod\":\"CREDIT\",\"number\":\"400555xxxxxx0001\",\"scheme\":\"VISA\",\"securityCode\":\"xxx\"}},\"type\":\"CARD\"},\"version\":\"30\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:32 GMT
- request: 
    method: post
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/token
    body: 
      string: "{\"session\":{\"id\":\"SESSION0002463798496I66273983N4\"},\"sourceOfFunds\":{\"type\":\"CARD\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"repositoryId\":\"TESTSUELDO\",\"response\":{\"gatewayCode\":\"BASIC_VERIFICATION_SUCCESSFUL\"},\"result\":\"SUCCESS\",\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":\"0517\",\"fundingMethod\":\"CREDIT\",\"number\":\"400555xxxxxx0001\",\"scheme\":\"VISA\"}},\"type\":\"CARD\"},\"status\":\"VALID\",\"token\":\"9751187013099186\",\"usage\":{\"lastUpdated\":\"2016-01-26T06:50:32.385Z\",\"lastUpdatedBy\":\"<TNS_MERCHANT_ID>\",\"lastUsed\":\"2016-01-26T06:50:32.385Z\"},\"verificationStrategy\":\"BASIC\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:32 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/order/10000001706/transaction/PAY
    body: 
      string: "{\"apiOperation\":\"PAY\",\"order\":{\"amount\":\"100.00\",\"currency\":\"EUR\",\"reference\":\"PAY\"},\"transaction\":{\"reference\":\"PAY\"},\"sourceOfFunds\":{\"type\":\"CARD\",\"token\":\"9751187013099186\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"gatewayEntryPoint\":\"WEB_SERVICES_API\",\"merchant\":\"<TNS_MERCHANT_ID>\",\"order\":{\"amount\":100.00,\"creationTime\":\"2016-01-26T06:50:32.772Z\",\"currency\":\"EUR\",\"id\":\"10000001706\",\"reference\":\"PAY\",\"status\":\"CAPTURED\",\"totalAuthorizedAmount\":100.00,\"totalCapturedAmount\":100.00,\"totalRefundedAmount\":0.00},\"response\":{\"acquirerCode\":\"00\",\"acquirerMessage\":\"Approved\",\"gatewayCode\":\"APPROVED\"},\"result\":\"SUCCESS\",\"risk\":{\"response\":{\"gatewayCode\":\"ACCEPTED\",\"review\":{\"decision\":\"NOT_REQUIRED\"},\"rule\":[{\"data\":\"400555\",\"name\":\"MERCHANT_BIN_RANGE\",\"recommendation\":\"NO_ACTION\",\"type\":\"MERCHANT_RULE\"},{\"name\":\"SUSPECT_CARD_LIST\",\"recommendation\":\"NO_ACTION\",\"type\":\"MERCHANT_RULE\"},{\"name\":\"TRUSTED_CARD_LIST\",\"recommendation\":\"NO_ACTION\",\"type\":\"MERCHANT_RULE\"},{\"data\":\"400555\",\"name\":\"MSO_BIN_RANGE\",\"recommendation\":\"NO_ACTION\",\"type\":\"MSO_RULE\"}]}},\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"fundingMethod\":\"CREDIT\",\"issuer\":\"JPMORGAN CHASE BANK, N.A.\",\"number\":\"400555xxxxxx0001\",\"scheme\":\"VISA\"}},\"token\":\"9751187013099186\",\"type\":\"CARD\"},\"timeOfRecord\":\"2016-01-26T06:50:32.772Z\",\"transaction\":{\"acquirer\":{\"batch\":1,\"id\":\"AIB\",\"merchantId\":\"011855511\"},\"amount\":100.00,\"authorizationCode\":\"029663\",\"currency\":\"EUR\",\"frequency\":\"SINGLE\",\"id\":\"PAY\",\"receipt\":\"AAAAC65PBQ\",\"reference\":\"PAY\",\"source\":\"MOTO\",\"terminal\":\"31208585\",\"type\":\"PAYMENT\"},\"version\":\"30\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:33 GMT
- request: 
    method: delete
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/token/9751187013099186
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"result\":\"SUCCESS\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:33 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/order/10000001707/transaction/PAY
    body: 
      string: "{\"apiOperation\":\"PAY\",\"order\":{\"amount\":\"100.00\",\"currency\":\"EUR\",\"reference\":\"PAY\"},\"transaction\":{\"reference\":\"PAY\"},\"sourceOfFunds\":{\"type\":\"CARD\",\"token\":\"9751187013099186\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Cnection: 
      - close
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"error\":{\"cause\":\"INVALID_REQUEST\",\"explanation\":\"Token not found\"},\"result\":\"ERROR\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:33 GMT
