--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/32/merchant/<TNS_MERCHANT_ID>/order/10000001610/transaction/PAY
    body: 
      string: "{\"apiOperation\":\"PAY\",\"order\":{\"amount\":\"100.00\",\"currency\":\"EUR\",\"reference\":\"PAY\"},\"transaction\":{\"reference\":\"PAY\"},\"sourceOfFunds\":{\"type\":\"CARD\"},\"session\":{\"id\":\"LOLSESSIONTOKEN\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
      X-Cnection: 
      - close
    body: 
      string: "{\"error\":{\"cause\":\"INVALID_REQUEST\",\"explanation\":\"Form Session not found or expired.\"},\"result\":\"ERROR\"}"
  recorded_at: Mon, 11 Jan 2016 23:56:12 GMT
