--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/session
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_MERCHANT_ID>\",\"result\":\"SUCCESS\",\"session\":{\"id\":\"SESSION0002033868670H90178082G5\",\"updateStatus\":\"NO_UPDATE\",\"version\":\"aecdd66301\"}}"
  recorded_at: Tue, 26 Jan 2016 06:50:39 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/session/SESSION0002033868670H90178082G5
    body: 
      string: "{\"sourceOfFunds\":{\"type\":\"CARD\",\"provided\":{\"card\":{\"number\":\"4005550000000001\",\"expiry\":{\"month\":\"05\",\"year\":\"17\"},\"securityCode\":\"123\"}}}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_MERCHANT_ID>\",\"session\":{\"id\":\"SESSION0002033868670H90178082G5\",\"updateStatus\":\"SUCCESS\",\"version\":\"44ede84b02\"},\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"fundingMethod\":\"CREDIT\",\"number\":\"400555xxxxxx0001\",\"scheme\":\"VISA\",\"securityCode\":\"xxx\"}},\"type\":\"CARD\"},\"version\":\"30\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:40 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_MERCHANT_ID>/3DSecureId/d2df16bee9d37212d9dc0a9709c3a8579fedcfff
    body: 
      string: "{\"apiOperation\":\"CHECK_3DS_ENROLLMENT\",\"3DSecure\":{\"authenticationRedirect\":{\"pageGenerationMode\":\"CUSTOMIZED\",\"responseUrl\":\"http://google.com\"}},\"session\":{\"id\":\"SESSION0002033868670H90178082G5\"},\"order\":{\"amount\":\"100.00\",\"currency\":\"EUR\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Cnection: 
      - close
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"error\":{\"cause\":\"INVALID_REQUEST\",\"explanation\":\"Merchant : Everyday Hero Pty Ltd is not configured to support 3D Secure operations for this card type.\"},\"result\":\"ERROR\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:40 GMT
