--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_3DS_MERCHANT_ID>/session
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"result\":\"SUCCESS\",\"session\":{\"id\":\"SESSION0002534388191N03419336N7\",\"updateStatus\":\"NO_UPDATE\",\"version\":\"8365615a01\"}}"
  recorded_at: Tue, 26 Jan 2016 06:50:36 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_3DS_MERCHANT_ID>/session/SESSION0002534388191N03419336N7
    body: 
      string: "{\"sourceOfFunds\":{\"type\":\"CARD\",\"provided\":{\"card\":{\"number\":\"4508750015741019\",\"expiry\":{\"month\":\"05\",\"year\":\"17\"},\"securityCode\":\"123\"}}}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"session\":{\"id\":\"SESSION0002534388191N03419336N7\",\"updateStatus\":\"SUCCESS\",\"version\":\"2a2d57e902\"},\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"fundingMethod\":\"DEBIT\",\"number\":\"450875xxxxxx1019\",\"scheme\":\"VISA\",\"securityCode\":\"xxx\"}},\"type\":\"CARD\"},\"version\":\"30\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:37 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/merchant/<TNS_3DS_MERCHANT_ID>/3DSecureId/52acc1e71086da5229cb59a80d1edbfe9a1a7c25
    body: 
      string: "{\"apiOperation\":\"CHECK_3DS_ENROLLMENT\",\"3DSecure\":{\"authenticationRedirect\":{\"pageGenerationMode\":\"CUSTOMIZED\",\"responseUrl\":\"http://google.com\"}},\"session\":{\"id\":\"SESSION0002534388191N03419336N7\"},\"order\":{\"amount\":\"100.00\",\"currency\":\"GBP\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"3DSecure\":{\"authenticationRedirect\":{\"customized\":{\"acsUrl\":\"https://secure.ap.tnspayments.com:443/acs/VisaACS/7d71cc4c-ea73-4755-8f16-2b96fee2277e\",\"paReq\":\"eAFVUdtOwkAUfCfhH5q+y17oBchhCRcVoigiJsa3TbuhNbSFbdHC7/gnfplnCxXdp87szvTMHBiUycb6UDqPs7Rvsxa1LZUGWRin6779srq56tgD0WzAKtJKTZ5VsNdKwFzluVwrKw5Rwzy/7Xmc2gIWw6XaCTj7CbRrcSA1RJkOIpkWAmSwG80ehMO7lDtAzhASpWcT0eZOt8t9Rk8HyImGVCZKXKPbIZQHa6p0Zt0XIZCKhyDbp4U+iA73gNQA9nojoqLY9ghRqERhhLpWkCVAzB2Qy1CLvRkvx3xlHAr3aZcvJQ8ey7vj+Pg6mqfr8j2Tn8e3Th+IeQGhLJTglHmUcc+iXs+lvbYPpOJBJmYicTtaWN9fGKZFKSY9kbA1/xqeQBUUyF8KsGeNi6jj1AhUuc1ShbbY6+83kMvo46lpNyiwR8elHd+llLm+wyjrmp6rC+MSY1XMp25lYwAQIyXnFWIt1YqR+bf6ZuMHqv+2dQ==\"}},\"summaryStatus\":\"CARD_ENROLLED\",\"xid\":\"5QqsRa2cOxKzCzXBMngxjoawzZ8=\"},\"3DSecureId\":\"52acc1e71086da5229cb59a80d1edbfe9a1a7c25\",\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"response\":{\"3DSecure\":{\"gatewayCode\":\"CARD_ENROLLED\"}}}"
  recorded_at: Tue, 26 Jan 2016 06:50:37 GMT
