--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/32/merchant/<TNS_3DS_MERCHANT_ID>/session
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"result\":\"SUCCESS\",\"session\":{\"id\":\"SESSION0002191533352I7905086J67\",\"updateStatus\":\"NO_UPDATE\",\"version\":\"a8eaa74601\"}}"
  recorded_at: Mon, 11 Jan 2016 23:51:11 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/32/merchant/<TNS_3DS_MERCHANT_ID>/session/SESSION0002191533352I7905086J67
    body: 
      string: "{\"sourceOfFunds\":{\"type\":\"CARD\",\"provided\":{\"card\":{\"number\":\"4005550000000001\",\"expiry\":{\"month\":\"05\",\"year\":\"17\"},\"securityCode\":\"123\"}}}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"session\":{\"id\":\"SESSION0002191533352I7905086J67\",\"updateStatus\":\"SUCCESS\",\"version\":\"db2cb52202\"},\"sourceOfFunds\":{\"provided\":{\"card\":{\"brand\":\"VISA\",\"expiry\":{\"month\":\"5\",\"year\":\"17\"},\"fundingMethod\":\"CREDIT\",\"number\":\"400555xxxxxx0001\",\"scheme\":\"VISA\",\"securityCode\":\"xxx\"}},\"type\":\"CARD\"},\"version\":\"32\"}"
  recorded_at: Mon, 11 Jan 2016 23:51:11 GMT
- request: 
    method: put
    uri: https://merchant.<TNS_3DS_MERCHANT_ID>:<TNS_3DS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/32/merchant/<TNS_3DS_MERCHANT_ID>/3DSecureId/ead98e0e365d07598a35ba682210564193928571
    body: 
      string: "{\"apiOperation\":\"CHECK_3DS_ENROLLMENT\",\"3DSecure\":{\"authenticationRedirect\":{\"pageGenerationMode\":\"CUSTOMIZED\",\"responseUrl\":\"http://google.com\"}},\"session\":{\"id\":\"SESSION0002191533352I7905086J67\"},\"order\":{\"amount\":\"100.00\",\"currency\":\"GBP\"}}"
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"3DSecure\":{\"summaryStatus\":\"CARD_NOT_ENROLLED\",\"xid\":\"a5rNJDbJGpGHlIiwUbyVwU7YTDo=\"},\"3DSecureId\":\"ead98e0e365d07598a35ba682210564193928571\",\"merchant\":\"<TNS_3DS_MERCHANT_ID>\",\"response\":{\"3DSecure\":{\"gatewayCode\":\"NOT_ENROLLED_NO_ERROR_DETAILS\"}}}"
  recorded_at: Mon, 11 Jan 2016 23:51:12 GMT
