--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: get
    uri: https://merchant.<TNS_MERCHANT_ID>:<TNS_API_KEY>@secure.ap.tnspayments.com/api/rest/version/30/information
    body: 
      string: ""
    headers: 
      Content-Type: 
      - Application/json;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Tue, 26 Jan 2016 06:50:26 GMT
      Content-Type: 
      - application/json;charset=UTF-8
    body: 
      string: "{\"gatewayVersion\":\"5.24.5-1R\",\"status\":\"OPERATING\"}"
  recorded_at: Tue, 26 Jan 2016 06:50:36 GMT
